<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BootstrapTable.Web.Core</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.min.css" rel="stylesheet" />


    <link href="~/lib/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/lib/bootstraptable/bootstrap-table.min.css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">
        <div id="sidebar-wrapper">
            @Html.Partial("_Navigation")
        </div>
        <div style="padding: 5px">
            <div class="x"><a href="#menu-toggle" class="btn btn-default menu-btn" id="menu-toggle">☰</a></div>
        </div>
        <div id="page-content-wrapper">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstraptable/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstraptable/extensions/export/bootstrap-table-export.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
